/*! BASE !*/

.sidebar {
  height: 100vh;
}

.progress-circle {
  width: 120px;
  height: 120px;
}

.circular-chart {
  width: 100%;
  height: 100%;
  transform: rotate(-90deg);
}

.circle-bg {
  fill: none;
  stroke: #e0e0e0;
  stroke-width: 3.8;
}

.circle {
  fill: none;
  stroke: #4caf50;
  stroke-width: 3.8;
  stroke-dasharray: 0, 100;
  transition: stroke-dasharray 0.3s;
}

.card {
  border-radius: 10px;
}

.form-group input,
.form-group select,
.form-group textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
    border: 1px solid #ddd;
}

body {
  background-color: #bced09;
  height: 100%;
  margin: 0;
}

.container {
  min-height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  padding: 5rem;
  margin: 3rem;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
}


/*! PERFIL !*/

#perfilUsuario {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

#datosUsuario {
  width: 60%;
  margin: 0 auto;
}

#botonesPerfil {
  display: flex;
  justify-content: flex-end;
  width: 60%;
  margin: 0 auto;
}

#containerRacha {
  display: flex;
  justify-content: center;
  gap: 20px;
  width: 60%;
  margin: 0 auto;
}

#containerRacha .col-md-6 {
  flex-grow: 1;
  flex-basis: 50%;
}

@media (max-width: 768px) {
  #containerRacha {
      flex-direction: column;
  }
}